
/*.load .item .detail .info .count {
  display: block;
  float: right;
  font-size: 24px;
}
.load .item .detail .info .icon {
  display: block;
  float: right;
  font-size: 24px;
  margin-right: 20px;
}
.load .item .detail .info .sub {

}
.load .item .detail .info .add {

}*/
















