<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/weui.css"/>
  <link rel="stylesheet" href="css/weui2.css"/>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body ontouchstart>
  <div class="main-wrap">
  </div>

  <footer class="footer weui_tab tab-bottom" style="height:55px;">
    <nav class="weui_tabbar">
      <a href="index.html" class="weui_tabbar_item weui_bar_item_on">
        <div class="weui_tabbar_icon">
          <i class="icon icon-29"></i>
        </div>
        <p class="weui_tabbar_label">首页</p>
      </a>
      <a href="mall.html" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <i class="icon icon-62"></i>
        </div>
        <p class="weui_tabbar_label">商城</p>
      </a>
      <a href="javascript:;" class="weui_tabbar_item"></a>
      <a href="order.html" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <i class="icon icon-81"></i>
        </div>
        <p class="weui_tabbar_label">订单</p>
      </a>
      <a href="myinfo.html" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <i class="icon icon-85"></i>
        </div>
        <p class="weui_tabbar_label">我</p>
      </a>
    </nav>
  </footer>

  <div class="shop-cart">
    <a id="cart" href="shopcart.html" class="cart">
      <div class="c-icon">
        <i class="icon icon-24"></i>
      </div>
      <!--<p class="c-txt">购物车</p>-->
    </a>
  </div>
  <span class="total-price">总价：&yen;<strong>0</strong></span>

  <!-- 网络加载 -->
  <div id="net-loading" class="net-loading">
    <div class="loading-icon"></div>
    <span class="txt">加载中...</span>
  </div>

  <!-- 添加减少加载 -->
  <div id="buy-loading" class="buy-loading">
  </div>

  <!-- 错误提示 -->
  <div id="error" class="err-hints">
    <span class="err-txt">错误信息</span>
  </div>
</body>

<script id="main-temp" type="text/template">
  <header class="header">
    <div class="slide" id="slideshow">
      <% if(data.ads) {%>
      <ul>
        <%for (var i = 0; i < data.ads.length; i++) {%>
        <li>
          <a href="<%=data.ads[i].linkUrl%>">
            <img src="<%=data.ads[i].pictureUrl%>" alt="<%=data.ads[i].name%>" width="<%=data.ads[i].width%>" height="<%=data.ads[i].height%>">
          </a>
        </li>
        <%}%>
      </ul>
      <div class="dot">
        <%for (var i = 0; i < data.ads.length; i++) {%>
        <span></span>
        <%}%>
      </div>
      <%}%>
    </div>
    <div class="notify">
      <div class="icon icon-53"></div>
      <% if(data.notices) {%>
      <div class="slide notify-text" id="notify-txt">
        <ul>
          <%for (var i = 0; i < data.notices.length; i++) {%>
          <li>
            <div class='txt'><%=data.notices[i].content%></div>
          </li>
          <%}%>
        </ul>
      </div>
      <%}%>
    </div>
  </header>
  <article class="weui_article content">
    <h1>商品列表</h1>
    <div class="bd">
      <% if(data.products) {%>
      <div class="row">
        <%for (var i = 0; i < data.products.length; i++) {%>
        <div class="col-33">
          <figure class="item" data-id="<%=data.products[i].id%>">
            <a class="pic" href="detail.html?id=<%=data.products[i].id%>"><img src="<%=data.products[i].picLink%>" width="<%=data.products[i].width%>" height="<%=data.products[i].height%>"></a>
            <figcaption>
              <strong class="title"><%=data.products[i].name%></strong>
              <em class="desc"><%=data.products[i].desc%></em>
              <div class="info">
                <span class="price">
                  &yen;<strong><%=data.products[i].price%></strong>
                </span>
                <div class="buy">
                  <span class="sub icon icon-122"></span>
                  <span class="count">0</span>
                  <span class="add icon icon-36"></span>
                </div>
              </div>
              <div class="tag"><%=data.products[i].tag%></div>
            </figcaption>
          </figure>
        </div>
        <%}%>
      </div>
      <%}%>
    </div>
  </article>

  <div class="bd spacing">
    <a href="mall.html" class="into weui_btn bg-orange">进入商城</a>
  </div>
</script>

<script src="js/lib/zepto.min.js"></script>
<script src="js/lib/template-native.js"></script>
<script src="js/lib/swipe.js"></script>
<script src="js/lib/parabola.js"></script>
<script src="js/lib/main.js"></script>
<script src="js/lib/common.js"></script>
<script src="js/lib/ajaxHttpRequest.js"></script>
<!--<script src="js/lib/alloy_lever.js"></script>-->
<script src="js/lib/zepto.md5.js"></script>
<script src="js/lib/webDb.js"></script>

<script src="js/index.js"></script>
<script src="js/example.js"></script>
</html>