<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>结算</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="style/weui.css"/>
  <link rel="stylesheet" href="css/weui2.css"/>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/payment.css">
</head>
<body ontouchstart>
  <header class="header">
    <div class="weui-header ">
      <div class="weui-header-left">
        <a id="back" class="icon icon-109 f-orange"></a>
      </div>
      <h1 class="weui-header-title f-orange">订单确认</h1>
      <div class="weui-header-right">
        <!--<a class="icon icon-108 f-orange"></a>-->
      </div>
    </div>
  </header>
  <div class="main-wrap">
  </div>

  <!-- 生成订单-->
  <div id="order-loading" class="order-loading">
    <div class="loading-icon"></div>
    <span class="txt">正在生成订单...</span>
  </div>

  <!-- 网络加载 -->
  <div id="net-loading" class="net-loading">
    <div class="loading-icon"></div>
    <span class="txt">加载中...</span>
  </div>

  <!-- 添加减少加载 -->
  <div id="buy-loading" class="buy-loading">
  </div>

  <!-- 错误提示 -->
  <div id="error" class="err-hints">
    <span class="err-txt">错误信息</span>
  </div>
</body>

<script id="main-temp" type="text/template">
  <% if(data) {%>
  <article class="content">
    <section class="addr">
      <h1 class="title">收货信息</h1>
      <div class="main">
        <div class="weui_panel weui_panel_access detail">
          <div class="m-addr">
            <div class="name-phone">
              <% if(!data.since) {%>
              <div class="name">
                <i class="icon icon-85"></i> <span><%=data.consignee%></span>
              </div>
              <%}%>
              <div class="phone">
                <i class="icon icon-104"></i> <span><%=data.mobile%></span>
              </div>
            </div>
            <div class="d-addr"><%=data.address%></div>
          </div>
          <a id='select-data' class="weui_panel_ft m-date" href="javascript:void(0);">
            <div class="weui_cell_hd">
              <label>送货时间</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
              <input class="weui_input" type="text" readonly value="请选择送货时间"/>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section id="pay" class="pay">
      <h1 class="title">支付方式</h1>
      <div class="main">
        <div class="detail">
          <div class="weui_cells weui_cells_radio recommend">
            <label class="weui_cell weui_check_label" for="rec">
              <div class="weui_cell_bd weui_cell_primary">
                <i class="icon <%=data.recPay.icon%>"></i>
                <san><%=data.recPay.name%>（推荐）</san>
              </div>
              <div class="weui_cell_ft" >
                <input type="radio" class="weui_check" name="radio1" id="rec" data-id="<%=data.recPay.id%>">
                <span class="weui_icon_checked"></span>
              </div>
            </label>
          </div>
          <% if(data.pays.length>0) {%>
          <div class="weui_panel weui_panel_access">
            <a id="more" class="weui_panel_ft" href="javascript:void(0);">更多</a>
          </div>
          <%for (var i = 0; i < data.pays.length; i++) {%>
          <div class="more-pay">
            <div class="weui_cells weui_cells_radio pay-tools">
              <label class="weui_cell weui_check_label" for="x<%=i%>">
                <div class="weui_cell_bd weui_cell_primary">
                  <i class="icon <%=data.pays[i].icon%>"></i>
                  <san><%=data.pays[i].name%></san>
                </div>
                <div class="weui_cell_ft">
                  <input type="radio" class="weui_check" name="radio1" id="x<%=i%>" data-id="<%=data.pays[i].id%>">
                  <span class="weui_icon_checked"></span>
                </div>
              </label>
            </div>
          </div>
          <%}%>
          <%}%>
        </div>
      </div>
    </section>

    <section id="money" class="assets">
      <div class="weui_cells weui_cells_form">
        <div class="weui_panel weui_panel_access">
          <a id="ticket" class="weui_panel_ft" href="ticket.html">
            <div class="menu">
              <span class="title">优惠券</span>
              <span class="note"><%=data.availableCoupon%>张可用</span>
            </div>
            <div data-id="<%=data.ticketId%>" class="msg <%if(data.amount){%>red<%}%>"><%if(data.amount){%>-&yen;<%=data.amount%><%}else{%>未使用<%}%></div>
          </a>
        </div>
        <div class="weui_cell weui_cell_switch">
          <div class="txt weui_cell_hd weui_cell_primary">
            <div class="txt">余额</div>
            <div class="total">
              可用余额：&yen;<span><%=data.availableBalance%></span>
            </div>
          </div>
          <div class="weui_cell_ft">
            <input class="weui_switch" type="checkbox"/>
          </div>
        </div>
      </div>

    </section>

    <section class="remark">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <textarea id="remark" class="weui_textarea" placeholder="订单备注（60字以内）" rows="3"><%=data.remark%></textarea>
          <div class="weui_textarea_counter"><span id='textarea_num'>剩余60字</span></div>
        </div>
      </div>
    </section>

    <section class="cost">
      <h1 class="title">费用明细</h1>
      <div class="main">
        <% if(data.productImgs.length>0) {%>
        <div class="item-list weui_panel weui_panel_access">
          <a id="product-list" class="weui_panel_ft" href="list.html">
            <div class="imgs">
              <% if(data.productImgs.length>2) {%>
                <%for (var i = 0; i < 2; i++) {%>
                <img src="<%=data.productImgs[i]%>">
                <%}%>
              <%}else {%>
                <%for (var i = 0; i < data.productImgs.length; i++) {%>
                <img src="<%=data.productImgs[i]%>">
                <%}%>
              <%}%>
            </div>
            <% if(data.productImgs.length>2) {%>
            <div class="omit">
              <i class="dot"></i>
              <i class="dot"></i>
              <i class="dot"></i>
            </div>
            <%}%>
            <div class="count">共<%=data.totalProductNums%>件</div>
          </a>
        </div>
        <%}%>
        <div class="amount">
          <div class="m-wrap">
            <div class="a-product">
              <span class="txt">商品金额</span>
              <em class="price">&yen;<%=data.totalProductPrice%></em>
            </div>
            <div class="a-transport">
              <span class="txt">运费</span>
              <em class="price">&yen;<%=data.freight%></em>
            </div>
            <div class="a-point">
              <span class="txt">优惠券抵销</span>
              <em class="price">-&yen;<%=data.couponRecord%></em>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <footer class="footer">
    <div class="f-main">
      <div class="price">
        应付金额:<span class="total">&yen;<%=data.totalPrice%>元</span>
      </div>
      <div id="buy" class="buy"><a href="javascript:void(0)">付款</a></div>
    </div>
  </footer>
  <%}%>
</script>

<script src="js/lib/zepto.min.js"></script>
<script src="js/lib/picker.js"></script>
<script src="js/lib/template-native.js"></script>
<script src="js/lib/main.js"></script>
<script src="js/lib/ajaxHttpRequest.js"></script>
<!--<script src="js/lib/alloy_lever.js"></script>-->
<script src="js/lib/zepto.md5.js"></script>
<script src="js/lib/common.js"></script>

<script src="js/example.js"></script>
<script src="js/payment.js"></script>
</html>